.navigation {
  height: 10vh;
  padding: 40px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section {
  height: 50vh;
}

.section-1 {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
