.navigation {
  height: 10vh;
  padding: 40px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main {
  height: 50vh;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}
