.navigation {
  height: 10vh;
  padding: 40px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section {
  height: 50vh;
}

.contact {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  height: 10vh;
  padding: 40px;
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
