@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

.logo {
  color: #fafafa;
  font-family: "Dancing Script", cursive;
  font-size: 5vh;
  font-weight: bold;
}

.button {
  display: block;
  width: 150px;
  text-align: center;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  background-color: #f0a500;
  color: #fafafa;
  font-size: 20px;
}
.button--form {
  width: 100%;
  background-color: #55a5f0;
  cursor: pointer;
}
.button__log-out {
  width: 180px;
  background-color: white;
  color: #333333;
  border: solid #55a5f0 2px;
  cursor: pointer;
}

.intro {
  text-align: center;
}
.intro__heading {
  color: #28527a;
  font-size: 100px;
}
.intro__sub-heading {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin: 20px 0;
}
.intro__button {
  margin: 0 auto;
}

.wave {
  vertical-align: top;
}

.form {
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
.form__input {
  margin-bottom: 20px;
}

.outro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.outro__heading {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin-bottom: 20px;
}

.logo--footer,
.footer__text--date {
  flex-grow: 1;
  flex-basis: 0;
}

.footer__text--date {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  height: 10vh;
  padding: 40px;
  background-color: #28527a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section {
  height: 50vh;
}

.contact {
  background-color: #28527a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  height: 10vh;
  padding: 40px;
  color: #fafafa;
  background-color: #28527a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}