* {
  border: 0;
  margin: 0;
}

#flag-container {
  width: 400px;
  margin: 5% auto;
}

.flag {
  height: 210px;
  width: 300px;
  margin: 30px;
}

#flag-above-1 {
  position: relative;
  top: -240px;
  opacity: 0;
}

#flag-above-1:hover {
  opacity: 100;
}

.horizontal-stripe {
  display: block;
  height: 33%;
  width: 100%;
}

#horizontal-1 {
  background-color: black;
}

#horizontal-2 {
  background-color: red;
}

#horizontal-3 {
  background-color: yellow;
}

#horizontal-4 {
  background-color: maroon;
}

#horizontal-5 {
  background-color: white;
}

#horizontal-6 {
  background-color: darkgreen;
}

#flag-above-2 {
  position: relative;
  top: -240px;
  opacity: 0;
}

#flag-above-2:hover {
  opacity: 100;
}

.vertical-stripe {
  display: inline-block;
  height: 100%;
  width: 100px;
  margin-right: -5px;
}

#vertical-1 {
  background-color: blue;
}

#vertical-2 {
  background-color: white;
}

#vertical-3 {
  background-color: red;
}

#vertical-4 {
  background-color: green;
}

#vertical-6 {
  background-color: orange;
}
