* {
  border: 0;
  margin: 0;
}

#flag-container {
  width: 400px;
  margin: 5% auto;
}

.flag {
  height: 210px;
  width: 300px;
  margin: 30px;
}

#germany-hungary {
  background-color: red;
}

#france-ireland {
  background-color: blue;
}
