* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
}

.nav {
  background-color: skyblue;
  color: #1e90ff;
}

.main {
  background-color: #fff;
}

.ads {
  background-color: #caf3ca;
  color: #4bcc4b;
}