* {
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#page-title {
  background-color: green;
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  padding: 10px 50px;
}

#nav-container {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-links-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-links {
  list-style: none;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
}

.nav-links:hover {
  cursor: pointer;
  background-color: #f64488;
  color: black;
}

.panels-all {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.panel-header {
  margin-bottom: 10px;
}

#panels-container-all {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

#panels-container-left {
  flex-grow: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

#panel-right {
  width: 30%;
  text-align: justify;
  padding: 10px;
}
