* {
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#page-title {
  background-color: green;
  color: white;
  text-align: center;
  position: fixed;
  top: 0px;
  padding: 10px 40px;
}

#nav-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-links-container {
  list-style: none;
  display: flex;
}

.nav-links {
  padding: 12px 50px;
  font-weight: bold;
}

.panels-all {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.panel-header {
  margin-bottom: 10px;
}

#panels-container-all {
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

#panels-container-left {
  width: 65%;
}

#panel-right {
  width: 30%;
  padding: 20px;
  text-align: justify;
}
