* {
  padding: 0;
  border: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
  font-weight: bold;
}

.panels-all {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

#page-title {
  background-color: green;
  color: white;
  text-align: center;
  width: 150px;
}

#nav-container {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
}

#nav-links-container {
  display: flex;
  list-style: none;
}

.nav-links {
  padding: 30px;
}
